@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #878c91;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

button {
  border: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.logout {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.logout i {
  color: #878c91;
}

.logout a i:hover {
  color: #c6dddd;
}

.login {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.login i {
  color: white;
}

.login a {
  color: white;
  font-size: 1rem;
}

.login a:hover, .login i:hover {
  color: #c6dddd;
}

.vertical-nav {
  height: 90vh;
  top: 4%;
  left: 5vw;
  width: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}

.vertical-nav i {
  color: #878c91;
  font-size: 1.3rem;
}

.vertical-nav a i:hover {
  color: #c6dddd;
}

button#nav-class i {
  border: none;
  outline: none;
  background-color: #a0dfde;
}

button#nav-class i {
  border: none;
  outline: none;
  background-color: #a0dfde;
}

button#nav-exercise i {
  border: none;
  outline: none;
  background-color: #f8fafa;
}

i {
  background-color: transparent;
}

.container-profile {
  padding: 3rem 2rem;
  position: absolute;
  left: 13vw;
  margin: auto;
  margin-top: 1.5rem;
  width: 80vw;
  min-height: 90vh;
  background-color: #f5f5f5;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 100;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  color: #878c91;
}

.grid-profile {
  display: -ms-grid;
  display: grid;
  height: 80vh;
  -ms-grid-columns: 40% 35% 25%;
      grid-template-columns: 40% 35% 25%;
  -ms-grid-rows: 30% 40% 30%;
      grid-template-rows: 30% 40% 30%;
}

.welcome-msg,
.exercise-list,
.repo,
.student-list {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-msg {
  background-color: #fbe487;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcome-name {
  font-weight: bold;
  text-transform: uppercase;
}

.exercise-list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  border: 3px solid #c4c3c4;
  overflow-y: auto;
  overflow-x: hidden;
}

.exercise-list button#coach-add-challenge-btn {
  background-color: #d889a7;
  margin-bottom: .3rem;
  padding: .5rem .5rem;
  color: white;
  border-radius: 13px;
}

.exercise-list button#coach-add-challenge-btn a {
  color: white;
}

.exercise-list::-webkit-scrollbar {
  width: .4em;
}

.exercise-list::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exercise-list::-webkit-scrollbar-thumb {
  background-color: #d889a7;
  height: 10px;
  border-radius: 13px;
}

.challenge-display {
  margin: .3rem;
  border: 2px solid #d889a7;
  border-radius: 13px;
}

.watch {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: #c4c3c4;
  border-radius: 15px;
  margin: 1rem;
  padding: 0.5rem;
}

.watch .fc-day-header {
  font-size: 0.6rem;
}

.repo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: #c6dddd;
}

.student-list {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.circle {
  background: #3bc4c1;
  height: 40rem;
  width: 40rem;
  position: absolute;
  top: -40%;
  left: -10%;
  border-radius: 50%;
  z-index: -1;
}

div#calendar {
  max-height: 80vh;
}

.fc-center {
  color: #d889a7;
}

.fc-month-button,
.fc-agendaWeek-button,
.fc-today-button,
.fc-button {
  text-transform: capitalize;
  background-color: none;
  border: none;
}

.fc-day-header {
  background-color: #c6dddd;
}

.watch-calendar {
  padding: 1.5rem;
}

.modal-btn {
  background-color: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.modal-btn .modal-btn:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 20vw;
  top: 25vh;
  width: 40rem;
  /* Full width */
  height: 20rem;
  /* Full height */
  background-color: #cdcdcc;
  border: 15px solid #3bc4c1;
  border-radius: 12px;
  -webkit-animation: animatezoom 0.2s ease-in-out;
          animation: animatezoom 0.2s ease-in-out;
}

.close {
  position: absolute;
  right: 25px;
  top: 25px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #878c91;
  cursor: pointer;
}

@-webkit-keyframes animatezoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatezoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.signin-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.4))), url(../style/wall.jfif);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4)), url(../style/wall.jfif);
  background-size: cover;
  height: 100vh;
}

.signin-form {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 13px;
  width: 70%;
  height: 80vh;
  color: #878c91;
  position: absolute;
  top: 10%;
  left: 15%;
  padding: 3rem;
}

.signin-form h1 {
  font-size: 3rem;
  color: #3bc4c1;
  text-shadow: 1px 1px #c4c3c4;
}

.signin-form p {
  font-size: 1.5rem;
}

.signin-form form {
  padding: 2rem;
}

.signin-form input,
.signin-form button {
  border: none;
  outline: none;
}

.signin-form input {
  padding: 1rem 1rem 0.3rem 1rem;
  width: 70%;
  background-color: transparent;
  border-bottom: 2px solid #3bc4c1;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #c4c3c4;
}

.signin-form input:focus {
  background-color: #c6dddd;
}

.signin-form select#userRole {
  background: #c6dddd;
  padding: .5rem 1rem;
  border: 1px solid #3bc4c1;
  font-family: "Poppins", sans-serif;
  color: #3bc4c1;
  text-transform: uppercase;
  font-weight: bold;
}

.signin-form select#userRole:focus {
  outline: none;
}

.signin-form #login {
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  padding: 0.8rem 2rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-transform: uppercase;
  background-color: #fbe487;
}

.signin-form #login p {
  color: #878c91;
  margin-bottom: 0;
}

.signin-form #register {
  position: absolute;
  top: 2%;
  right: 2%;
  text-transform: capitalize;
  background-color: transparent;
  padding: .5rem;
}

.signin-form #register p {
  font-size: 1rem;
}

button#register-db {
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  padding: 0.8rem 2rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-transform: uppercase;
  background-color: #fbe487;
  color: #878c91;
  font-size: 1rem;
}

a span#register-new-account {
  color: #3bc4c1;
  font-size: 1.2rem;
  text-decoration: none;
}

a span#register-new-account:hover {
  color: #d889a7;
  text-decoration: none;
}

.challenge-add {
  border: 5px solid #fbe487;
  border-radius: 13px;
  overflow-y: auto;
  height: 80vh;
}

.challenge-add input, .challenge-add textarea, .challenge-add select {
  background-color: transparent;
}

.challenge-add input:focus, .challenge-add textarea:focus, .challenge-add select:focus {
  background-color: transparent;
  outline: none;
  border: none;
}

.challenge-add::-webkit-scrollbar {
  width: .4em;
}

.challenge-add::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.challenge-add::-webkit-scrollbar-thumb {
  background-color: #fbe487;
  height: 10px;
  border-radius: 13px;
}

.modal-title {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fbe487;
  text-shadow: 0.5px 0.5px #c4c3c4;
}

.btn-secondary {
  color: #878c91;
  background-color: #fbe487;
  border-color: #fbe487;
  padding: 0.5rem 2rem;
}
/*# sourceMappingURL=style.css.map */